* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.core {
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(238, 230, 230);
  border-radius: 5%;
  width: 500px;
  height: 250px;
}
h1 {
  padding-top: 5%;
  color: rgb(216, 116, 34);
}
.info {
  display: inline-flex;
}
.name {
  width: 350px;
  
}
.photo {
  width: 150px;
  display: flex;
  justify-content: center;
}